* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #faf7f2;
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.title-text {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.save-text {
  color: #8c8476;
  font-size: 1.1rem;
}

#add-recipe-btn {
  background: #c4522a;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.05),
    0 6px 6px rgba(0, 0, 0, 0.05);
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}

#add-recipe-btn:hover {
  transform: scale(0.98);
  background-color: #a86248;
}

#add-recipe-btn:active {
  transform: scale(0.92);
  background-color: #a86248;
}

.main-container {
  padding: 1.5rem 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

.search-wrapper {
  display: flex;
  background-color: white;
  gap: 1rem;
  align-items: center;
  border: 1px solid #908c8c;
  border-radius: 8px;
  padding: 0.8rem 1.3rem;
  margin-bottom: 1.5rem;
}

#search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.filter-button {
  padding: 0.6rem 1rem;
  background-color: white;
  border: 1px solid #e8e0d4;
  border-radius: 20px;
  color: #8c8476;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.filter-button:hover {
  background-color: black;
  color: white;
}

.filter-button.active {
  background-color: black;
  color: white;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.recipes-text {
  color: #8c8476;
  letter-spacing: 0.1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
}

.recipe-card-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #e8e0d4;
  padding: 1.25rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.recipe-card-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.emoji-display {
  font-size: 3rem;
}

.dish-title {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.details-text {
  display: flex;
  gap: 10px;
  color: #8c8476;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.ingredients-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #8c8476;
  font-weight: 600;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-top: 2px solid #e8e0d4;
  padding-top: 0.8rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.dish-type-text {
  font-size: 0.8rem;
  font-weight: 600;
  color: #ba7517;
  background: #faeeda;
  padding: 0.5rem;
  border-radius: 20px;
}

.edit-btn,
.delete-btn {
  background: #faeeda;
  border: none;
  padding: 0.6rem;
  border-radius: 8px;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
  cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover {
  background: #b0a086;
  transform: scale(0.9);
}

.edit-btn:active,
.delete-btn:active {
  background: #b0a086;
  transform: scale(0.9);
}

.btn-container {
  display: flex;
  gap: 5px;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  border: 2px solid #e8e0d4;
  border-radius: 12px;
  padding: 2rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-category-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#recipe-name-text {
  padding: 0.8rem;
  border: 2px solid #e8e0d4;
  border-radius: 8px;
  width: 300px;
  color: #1c1a16;
  outline: none;
  font-weight: bold;
}

#recipe-category-text {
  padding: 0.8rem;
  border: 2px solid #e8e0d4;
  border-radius: 8px;
  width: 300px;
  color: #1c1a16;
  outline: none;
  font-weight: bold;
}

#recipe-time-text {
  padding: 0.8rem;
  border: 2px solid #e8e0d4;
  border-radius: 8px;
  width: 200px;
  color: #1c1a16;
  outline: none;
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  color: #8c8476;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

#recipe-ingredients-text {
  padding: 0.8rem;
  border: 2px solid #e8e0d4;
  border-radius: 8px;
  width: 400px;
  color: #1c1a16;
  font-weight: bold;
  width: 100%;
  outline: none;
}

#recipe-instructions-text {
  padding: 0.8rem;
  border: 2px solid #e8e0d4;
  border-radius: 8px;
  width: 400px;
  color: #1c1a16;
  font-weight: bold;
  width: 100%;
  outline: none;
  height: 150px;
  resize: none;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

#cancel-btn,
#save-recipe-btn {
  padding: 0.8rem 1rem;
  border: 2px solid #e8e0d4;
  border-radius: 12px;
  color: #8c8476;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  cursor: pointer;
}

#cancel-btn:hover,
#save-recipe-btn:hover {
  transform: scale(0.97);
  background-color: #ba7517;
  color: white;
}

#cancel-btn:active,
#save-recipe-btn:active {
  transform: scale(0.95);
  background-color: #ba7517;
  color: white;
}

#close-btn {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

#close-btn:hover {
  background-color: #e74c3c;
  color: white;
  border-radius: 50%;
  transform: scale(1.1);
}

#close-btn:active {
  transform: scale(1);
}

#modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.no-recipes {
  grid-column: 1 / -1;
  text-align: center;
  color: #666;
  font-size: 1.2rem;
}


.detail-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);

  display: none;
  justify-content: center;
  align-items: center;

  padding: 20px;
  z-index: 1000;
}

.detail-modal {
  width: 100%;
  max-width: 750px;
  max-height: 90vh;

  overflow-y: auto;

  background: white;
  border-radius: 24px;

  padding: 28px;

  position: relative;

  box-shadow:
    0 25px 50px rgba(0, 0, 0, 0.15);

  animation: modalPop 0.25s ease;
}

@keyframes modalPop {
  from {
    opacity: 0;
    transform: scale(0.96);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

#close-detail-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 44px;
  height: 44px;

  border: none;
  border-radius: 50%;

  background: #f3f4f6;

  cursor: pointer;

  font-size: 20px;

  transition: all 0.2s ease;
}

#close-detail-btn:hover {
  background: #ef4444;
  color: white;
}

/* HEADER */

#detail-emoji {
  font-size: 4rem;
  margin-bottom: 10px;
}

#detail-name {
  font-size: 2.4rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 5px;
}

#detail-category {
  color: #6b7280;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

/* TIME */

#detail-time {
  display: inline-block;

  background: #fff7ed;
  color: #ea580c;

  border: 1px solid #fed7aa;

  padding: 12px 20px;
  border-radius: 999px;

  font-weight: 700;

  margin-bottom: 25px;
}

/* INGREDIENTS */

#detail-ingredients {
  margin-bottom: 30px;
}

#detail-ingredients li {
  list-style: none;

  display: flex;
  align-items: center;

  gap: 12px;

  padding: 12px 0;

  border-bottom: 1px solid #e5e7eb;

  color: #374151;
  font-size: 1rem;
}

#detail-ingredients li:last-child {
  border-bottom: none;
}

#detail-ingredients li::before {
  content: "✓";

  width: 26px;
  height: 26px;

  border-radius: 50%;

  background: #dcfce7;
  color: #16a34a;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.8rem;
  font-weight: bold;

  flex-shrink: 0;
}

/* INSTRUCTIONS */

#detail-instructions {
  margin-top: 10px;

  color: #374151;
  line-height: 1.9;
  font-size: 1rem;
}

#detail-instructions li {
  margin-bottom: 14px;
  padding-left: 5px;
}

/* SCROLLBAR */

.detail-modal::-webkit-scrollbar {
  width: 8px;
}

.detail-modal::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 999px;
}

/* MOBILE */

/* TABLET */
@media (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  .main-container,
  .header-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .detail-modal {
    max-width: 650px;
    padding: 32px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .main-container {
    padding: 1.25rem;
  }

  .header-container {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  .title-text {
    font-size: 2rem;
  }

  .save-text {
    font-size: 0.95rem;
  }

  #add-recipe-btn {
    width: 100%;
    padding: 0.9rem;
  }

  .search-wrapper {
    padding: 0.9rem 1rem;
  }

  .filter-container {
    overflow-x: auto;
    gap: 0.75rem;
    padding-bottom: 5px;
    scrollbar-width: none;
  }

  .filter-container::-webkit-scrollbar {
    display: none;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }

  .recipe-card-container {
    padding: 1rem;
    border-radius: 16px;
  }

  .emoji-display {
    font-size: 2.2rem;
  }

  .dish-title {
    font-size: 1rem;
    line-height: 1.4;
  }

  .ingredients-text {
    font-size: 0.8rem;
  }

  .details-text {
    flex-wrap: wrap;
    gap: 6px;
  }

  .dish-type-text {
    font-size: 0.75rem;
  }

  /* ADD RECIPE MODAL */

  .modal {
    width: 100%;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 20px;
  }

  .recipe-category-wrapper {
    flex-direction: column;
    gap: 1rem;
  }

  #recipe-name-text,
  #recipe-category-text,
  #recipe-time-text,
  #recipe-ingredients-text,
  #recipe-instructions-text {
    width: 100%;
  }

  .modal-footer {
    flex-direction: column;
  }

  #cancel-btn,
  #save-recipe-btn {
    width: 100%;
  }

  /* DETAIL MODAL */

  .detail-modal-overlay {
    padding: 12px;
    align-items: flex-end;
  }

  .detail-modal {
    width: 100%;
    max-width: 100%;

    max-height: 92vh;

    padding: 24px;

    border-radius: 28px 28px 0 0;

    animation: slideUp 0.25s ease;
  }

  #detail-name {
    font-size: 1.9rem;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  #detail-category {
    font-size: 0.95rem;
  }

  #detail-time {
    width: 100%;
    text-align: center;

    padding: 14px;
    margin-bottom: 28px;
  }

  #detail-ingredients li {
    padding: 14px 0;
    font-size: 0.95rem;
  }

  #detail-instructions {
    font-size: 1rem;
    line-height: 2;
  }

  #close-detail-btn {
    width: 46px;
    height: 46px;
    font-size: 20px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}